.blog {
    margin-bottom: 106px;
    @media (max-width: $tablet) {
        margin-bottom: 70px;
    }
    .container {
        max-width: 1100px;
    }
    &__title {
        margin: 0 0 75px;
        text-align: center;
        @include font(40, 700);
        @media (max-width: $tablet) {
            margin-bottom: 30px;
        }
        @media (max-width: $mobile) {
            font-size: 26px;
        }
    }

    &__slider {
        margin: 0 -15px;
        .swiper-container {
            padding: 15px;
        }
        .swiper-slide {
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.24);
            padding-bottom: 15px;
            img {
                width: 100%;
                height: 277px;
                object-fit: cover;
                margin-bottom: 25px;
            }
        }
        .swiper-pagination {
            position: relative;
            margin-top: 54px;
            .swiper-pagination-bullet {
                margin: 0 2px;
                width: 23px;
                height: 10px;
                opacity: 1;
                background: #fff;
                border: 1px solid #ff4053;
                border-radius: 5px;
                &.swiper-pagination-bullet-active {
                    background: #ff4053;
                }
            }
        }
    }
    &__description {
        padding: 0 50px 9px 15px;
        @include font(17, 500);
        line-height: 23px;
    }
    &__read-more {
        text-align: right;
        padding-right: 30px;
        a {
            color: #bf0404;
            @include font(17, 700);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}