.footer {
    background: #242424;
    padding: 172px 0 92px;
    color: #fff;
    @media (max-width: $mobile) {
        padding: 111px 0 37px;
    }
    .container {
        position: relative;
    }

    &__title {
        display: inline-block;
        margin-bottom: 55px;
        position: relative;
        @include font(20, 500);
        @media (max-width: $mobile) {
            margin-bottom: 30px;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            right: -10px;
            ;
            bottom: -5px;
            width: 55px;
            height: 3px;
            background: #e15d5d;
        }

        &:after {
            bottom: -13px;
            right: 0;
        }
    }

    &__wrap {
        display: flex;
        margin-left: -11px;
        @media (max-width: 1100px) {
            margin-left: 0;
        }
        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__col {
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
        &:nth-child(1) {
            max-width: 305px;
            padding-right: 40px;
        }

        &:nth-child(2) {
            max-width: 260px;
            padding-right: 80px;

            p {
                padding-left: 14px;
                @media (max-width: $mobile) {
                    padding-left: 0;
                }
                &:not(:last-child) {
                    margin-bottom: 22px;
                }
            }

            p,
            a {
                font-size: 14px;
                color: #fff;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__menu {
        @include ul;
        columns: 3;

        li {
            margin-bottom: 22px;
            margin-right: 30px;

            a {
                @include font(16, 300);
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__descr {
        @include font(12, 300);
        line-height: 16px;
    }

    &-copy {
        text-align: center;
        background: #242424;
        padding: 29px 0;
        @include font(16, 300);
        color: #fff;
        border-top: 1px solid #505050;
    }

    &__social {
        @include ul;
        position: absolute;
        right: 8px;
        bottom: -24px;
        background: #fff;
        border-radius: 25px;
        padding: 7px 18px;
        @media (max-width: $mobile) {
            position: static;
            display: block;
            max-width: 300px;
            margin: 30px auto 0;
            text-align: center;

        }
        li {
            display: inline-block;
            vertical-align: top;

            &:not(:last-child) {
                margin-right: calc(21px - .36em);
            }

            img {
                width: 33px;
                height: 33px;
                object-fit: cover;
                display: flex;
            }
        }
    }
}