.team {
    margin-bottom: 140px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
    @media (max-width: $tablet) {
        margin-bottom: 60px;
    }
    .container {
        max-width: 1067px;
    }
    &__wrap {
        letter-spacing: -.36em;
        margin: 0 -25px;
    }
    &__head {
        text-align: center;
        margin-bottom: 80px;
        @media (max-width: $tablet) {
            margin-bottom: 40px;
        }
    }
    &__title {
        margin: 0 0 -2px;
        @include font(40, 700);
        @media (max-width: $mobile) {
            font-size: 26px;
        }
    }
    &__description {
        @include font(15, 500);
    }
    &__col {
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        padding: 0 25px;
        letter-spacing: normal;
        @media (max-width: $mobile) {
            width: 100%;
            max-width: 400px;
            display: block;
            margin: 0 auto;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    &__item {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
        &:hover {
            transform: scale(2);
        }
    }
    &__photo {
        width: 100%;
        margin-bottom: 9px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 11px 22px 35px;
        @media (max-width: $tablet) {
            display: block;
        }
    }
    &__social {
        @include ul;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: calc(6px - .36em);
            }            
        }
    }
    &__name {
        padding-right: 10px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: -0.6px;
        @media (max-width: $tablet) {
            margin-bottom: 10px;
        }
        span {
            font-size: 15px;
            font-weight: 500;
            display: block;
            margin-top: 5px;
            text-transform: uppercase;
        }
    }
}