.testimonial {
    background: #f4f4f4;
    margin-bottom: 87px;
    padding: 191px 0 48px;
    @media (max-width: $tablet) {
        padding: 50px 0;
    }
    .container {
        max-width: 870px;
        position: relative;
        z-index: 1;
        @media (max-width: $tablet) {
            max-width: 640px;
        }
    }

    &__content {
        background: #fff;
        border-radius: 15px;
        position: relative;
        padding: 1px 15px 15px 180px;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
        min-height: 279px;
        display: flex;
        align-items: center;
        margin-bottom: 86px;
        @media (max-width: $tablet) {
            margin-bottom: 46px ;
        }
        @media (max-width: $mobile) {
            padding: 30px 15px;
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            background: #fff;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
            z-index: -1;
            opacity: .6;
        }
    }

    &__photo {
        width: 183px;
        height: 183px;
        border-radius: 50%;
        border: 5px solid #8f5de1;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 26px;
        @media (max-width: $mobile) {
            position: static;
            display: block;
            margin: 0 auto 20px;
            transform: translate(0,0);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        position: relative;
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        font-weight: 500;
        max-width: 570px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            @media (max-width: $mobile) {
                display: none;
            }
        }

        &:before {
            width: 58px;
            height: 52px;
            background: url('../images/dist/quotation.png') center center no-repeat;
            right: 99%;
            bottom: 121%;
            
        }

        &:after {
            width: 72px;
            height: 65px;
            background: url('../images/dist/quotation1.png') center center no-repeat;
            left: 93%;
            top: 110%;
        }
    }

    &__arrows {
        display: flex;
        justify-content: flex-end;
    }

    &__name {
        text-align: center;
        @include font(15, 700);
        position: absolute;
        bottom: 27px;
        left: 92px;
        @media (max-width: $mobile) {
            position: static;
            margin-top: 15px;
        }
        span {
            display: block;
            @include font(15, 300);
        }
    }
}